<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NALA</title>
    <link rel="icon" href="{{url_for("static", filename="assets/iNUvators_20240915_235832_0000-Photoroom.png")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="/unified.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        
        <nav>
            <h1>NALA</h1>
            
        </nav>
        <a href="/translation-page"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </header>

    <section>
        <form action="/" method="post">
            <div class="circle-container">
                <div class="card" style="--i: 1;">
                    <div class="card-title">
                        <h1>Cebuano</h1>    
                    </div>
                    <hr>
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
                <div class="card" style="--i: 2;">
                    <div class="card-title">
                        <h1>Ilokano</h1>    
                    </div>
                    <hr>
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
                <div class="card" style="--i: 3;">
                    <div class="card-title">
                        <h1>Tagalog</h1>    
                    </div>
                    <hr>
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
                <textarea name="input-text" id="input-text" rows="10" cols="30" placeholder="Enter your sentences" required></textarea>
                <div class="card" style="--i: 4;">
                    <div class="card-title">
                        <h1>Pangasinan</h1>    
                    </div>
                    <hr>
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
                <div class="card" style="--i: 5;">
                    <div class="card-title">
                        <h1>Hiligaynon</h1>    
                    </div>
                    <hr>
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
                <div class="card" style="--i: 6;">
                    <div class="card-title">
                        <h1>Waray</h1>    
                    </div>
                    <hr>
                    <div class="card-content">
                        <p></p>
                    </div>
                </div>
              </div>

              <button type="submit">Behold the Magic!</button>
        </form>
        
    </section>
          
</body>
</html>